{% block content %}
    <head>
        <style>
            body {
                background-color: linen;
            }

            h2 {
                color: maroon;
                margin-left: 40px;
            }
        </style>
    </head>
    <div class="content">
    <h2>Modify an Entry  |  <a href="{{ url_for('index') }}">Home</a></h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
       <p>
             {{ form.url.label }}
             {{ form.url(size=32) }}
         </p>
         <br>
         <p>
             {{ form.colour.label }}
             {{ form.colour(size=32) }}
         </p>
         <br>
         <p> 
            {{ form.column.label }}<br>
            {{ form.column(size=3) }}
        </p>
        <br>
         <p>
             {{ form.submit() }}
         </p>
        <br>
        <br>
         <p>Delete entry?</p>
        <p>{{ form.submit2() }}</p>
    </form>
        {% for msg in get_flashed_messages() %}
          <h2>{{ msg }}</h2>
        {% endfor %}
    </div>
{% endblock %}